div{
    height: 300px;
    width: 400px;
    background-image: url("img.jpeg");
    background-size: cover;
     color:red;
     position: absolute;
     right: 0px;
     position: fixed;
     top: 50px;
}